* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.title {
  font-size: clamp(2.8rem, 7vw, 6rem);
  text-align: center;
  margin-block: 1em; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
  min-width: 100vw;
  display: none;
  z-index: 10; }

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: auto;
  width: 600px;
  background: #fff;
  border-radius: 30px;
  padding: 2em;
  z-index: 20; }

.popup.active .overlay {
  display: block; }

.popup.active .content {
  transition: all 250ms ease-in-out;
  transform: translate(-50%, -50%) scale(1); }

.cart {
  position: fixed;
  top: 150px;
  right: 50px;
  font-size: 25px;
  height: 65px;
  width: 65px;
  line-height: 65px;
  background: #222;
  color: #fafafa;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  transition: all 150ms ease-in; }
  .cart:hover {
    background: #616161; }

.card {
  background: #fff;
  border: 4px solid #f00;
  width: 650px;
  height: auto;
  margin-block: 2rem;
  padding: 0.4rem;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.5); }
  .card h2 {
    display: inline;
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: .7em;
    margin-left: .6em;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none; }
  .card p {
    font-size: 1.4rem;
    text-align: left; }
  .card__img {
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    line-height: 50px;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none; }
  .card .contenido {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 35px;
    margin: 0 15px 20px -15px; }
    .card .contenido__contador {
      display: flex;
      flex-direction: row;
      background-color: #444444;
      width: 110px;
      margin-left: 20px;
      border-radius: 10px;
      overflow: hidden; }
      .card .contenido__contador p {
        font-size: 25px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: calc(110px/3);
        color: #fff; }
    .card .contenido__descripcion {
      width: 400px; }
    .card .contenido__precio p {
      font-size: 22px; }
  .card .btn-carrito {
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: calc(111px/3);
    color: #fff;
    cursor: pointer;
    background: #a8a8a8;
    border: none;
    outline: none; }
  .card .arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    transition: all 250ms ease-out;
    height: 30px;
    width: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none; }

.rotar {
  transform: rotate(180deg); }

.buscador {
  background: #fff;
  position: relative;
  width: 345px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.226);
  overflow: hidden;
  font-size: 2rem;
  margin-block: 2rem; }

.buscador__input {
  border: none;
  outline: none;
  height: 50px;
  font-size: 2rem; }

.cross {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: black;
  cursor: pointer;
  display: none; }

.display {
  display: block; }

.contenidoTabla {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2rem;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  text-align: center; }
  .contenidoTabla thead tr {
    background-color: red;
    color: #fff;
    font-weight: bold; }
    .contenidoTabla thead tr th:last-of-type {
      text-align: center; }
  .contenidoTabla th,
  .contenidoTabla td {
    padding: 12px 10px; }
    .contenidoTabla th:first-of-type,
    .contenidoTabla td:first-of-type {
      text-align: left; }
  .contenidoTabla tbody tr {
    border-bottom: 1px solid #dddddd; }
    .contenidoTabla tbody tr td:last-of-type {
      text-align: center; }
  .contenidoTabla tbody tr:nth-of-type(even) {
    background: #f3f3f3; }
  .contenidoTabla tbody tr:last-of-type {
    border-bottom: 2px solid #f00; }

.cart__texto {
  margin-left: 1rem; }
  .cart__texto p {
    font-size: 1.2rem;
    margin-right: 45px;
    text-align: right;
    font-weight: bold; }

.mostrarTotal {
  font-size: 1.2rem; }

.finalizarCompra {
  font-size: 1.2rem;
  padding: 0.5rem;
  margin-block: 1rem;
  border: 1px solid #f00;
  background-color: #fff;
  color: #f00;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  position: relative;
  overflow: hidden;
  z-index: 2; }
  .finalizarCompra span {
    z-index: 2; }
  .finalizarCompra:hover {
    color: #fff; }
  .finalizarCompra::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    left: calc(-100% - 40px);
    width: 100%;
    border-right: 40px solid transparent;
    border-bottom: 39px solid #f00;
    transition: all 250ms ease-in-out; }
  .finalizarCompra:hover::after {
    left: 0; }

h3 {
  font-size: 2rem; }

@media only screen and (max-width: 768px) {
  .card {
    width: 100vw; }
    .card p {
      text-align: center; }
    .card .contenido {
      flex-direction: row;
      align-items: center; }
      .card .contenido__contador {
        flex-direction: column;
        width: 62px;
        height: 110px; }
        .card .contenido__contador p,
        .card .contenido__contador button {
          height: calc(110px/3); }
        .card .contenido__contador h3 {
          text-align: left; }
  .cart {
    top: 10px !important;
    right: 10px; }
  .content {
    width: 100vw;
    height: 100vh;
    padding: 20px 0 0 0;
    border-radius: 0; }
  .finalizarCompra {
    margin-right: 30px;
    margin-top: 5px; }
  .contenidoTabla {
    border-radius: 0; }
    .contenidoTabla th,
    .contenidoTabla td {
      padding: 8px 6px !important; } }
