.horarios-contenido {
    position: fixed;
    font-size: 1.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    height: auto;
    width: auto;
    background: #fff;
    color: #f00;
    padding: 1.2rem;
    border-radius: 20px;
    border: 4px solid #f00;
    z-index: 20;
    transition: transform 250ms ease-in;


    & h4 {
        text-align: center;
        text-decoration: underline;
        margin-bottom: .7em;
    }

    & .horarios-btn {
        position: absolute;
        top: -15px;
        right: -10px;
        font-size: 30px;
        font-weight: bold;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 30px;
        background: #f00;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
    & strong{
        font-size: 1.4rem;
        font-weight: bold;
    }
}

.horarios-overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: block;
}


.popup-2.closed .horarios-contenido {
    transform: translate(-50%, -50%) scale(0);
}

.popup-2.closed .horarios-overlay {
    display: none;
}