.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    min-width: 100vw;
    display: none;
    z-index: 10;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: auto;
    width: 600px;
    background: #fff;
    border-radius: 30px;
    padding: 2em;
    z-index: 20;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 250ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}



