@media only screen and (max-width:768px) {

    // CARDS
    .card {
        width: 100vw;

        & p {
            text-align: center;
        }

        & .contenido {
            flex-direction: row;
            align-items: center;

            &__contador {
                flex-direction: column-reverse;
                width: 62px;
                height: 110px;

                & p,
                button {
                    height: calc(110px/3);
                    width: auto;
                }

                & h3 {
                    text-align: left;
                }


            }
        }
    }

    // CARRITO
    .cart {
        top: 3px !important;
        right: 10px;
    }


    // TABLA MUESTRA DE PRODUCTOS
    .content {
        width: 100vw;
        height: 100vh;
        padding: 0;
        padding-top: 10px;
        border-radius: 0;

        & h3 {
            margin-left: 15px;
            margin-bottom: 17px;
        }
    }

    .cart__texto {
        padding-inline: 12px;
    }



    .contenidoTabla {
        border-radius: 0;
        margin-block: 15px;

        th,
        td {
            padding: 8px 6px;
            font-size: 1.1rem;
        }
    }

    .horarios-contenido {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        min-width: 100vw;
    }

    .horarios-btn {
        position: absolute;
        top: 10px !important;
        right: 10px !important;
    }


    .containerForm {
        width: 100vw !important;
        height: 100vh !important;
        padding: 0 !important;
        padding: 1rem .3rem !important;
    }

    .validaciones {
        width: 90vw !important;
        height: 80vh !important;
        display: flex;
        align-items: center;
    }

}