.contenidoTabla {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;

    & thead tr {
        background-color: rgb(255, 0, 0);
        color: #fff;
        text-align: left;
        font-weight: bold;
            & th:last-of-type{
                text-align: center;
            }


    }

    th,
    td {
        padding: 12px 10px;
    }
    & tbody tr{
        border-bottom: 1px solid #dddddd;
            & td:last-of-type{
                text-align: center;
            }
    }
    & tbody tr:nth-of-type(even){
        background: #f3f3f3;
    }
    & tbody tr:last-of-type{
        border-bottom: 2px solid #f00;
    }
}



